h {
	font-size: 32px;
}

body {
	margin: 0;
	font-size: 24px;

	font-family: 'Lato', sans-serif;
}

.banner:before {
	height: 500px;
	background-image: url("/images/ronsemble.jpg");
	background-position: center;

	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;

	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.banner {
	color: white;
	font-size: 24px;
}

.newName {
	border-radius: 10px;
	border: 2px solid #333;
	color: black;
	text-align: center;
	margin: 0 auto;
	width: 400px;
	background-color: white;
}
