<div>
	<h2>Jazz Ensemble</h2>
	<p>
		Comprised of full-time students, the Cuesta Jazz Ensemble, directed by Ron McCarley, is proud of its historical commitment to ensemble communication and creative improvisation, rehearsing 5 hours each week in Cuesta’s new, state of the art rehearsal and recording facility. In the true spirit of jazz, the CJE focuses on interpreting literature from the cutting edge of big band music across the ages in addition to works composed specifically for the group by Cuesta faculty as well as students and emerging young composers. Recent guest artists have included Ron Miles, Peter Epstein, Tim Ries, Red Holloway, Bobby Shew, Rob McConnell, Tom Scott and many others. The CJE has been invited to tour Europe several times, most recently in 2000 with trips to the Montreux and North Sea Jazz Festivals. It was given the honor of being the only community college instrumental jazz ensemble to perform at the 2004 IAJE Conference in New York City. Rehearsals are Tuesday &amp; Thursday, 4:00 - 6:30 pm
	</p>
	<h2>Jazz Combos</h2>
	<p>
		In addition to the Cuesta Jazz Ensemble and the Evening Jazz Ensemble, the Cuesta Jazz Studies Department fields 7–10 small jazz groups each semester of varying instrumentation and ability levels. Focus is on group dynamic and creative improvisation, and many of these groups will often feature student originals and arrangements alongside well-known standards. Each week different combos perform in a cafe in downtown San Luis Obispo. Of special note is that each semester the best combos are chosen as the lab groups for the recording arts classes and given the opportunity to record high quality music in a professional environment.
	</p>
<div>
